<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Weather in Egypt</h2>
    <h3 class="title"><%= weather.name %></h3>
    <p class="snippet">Weather Today is <strong><%= (weather.main.temp - 273.15).toFixed(1) %> C</strong></p>
    <p class="snippet">Wind Speed is <strong><%= weather.wind.speed %></strong></p>
    <p class="snippet">Humidity is <strong><%= weather.main.humidity %></strong></p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>